<!DOCTYPE html>
<head>
    <% include ./partials/head %>
</head>
<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <% include ./partials/nav %>
  <main class="mdl-layout__content">
    <div class="data-content">
      <div class="mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <div id="heatmap"></div>
        <div id="legend"></div>
        <div class="mdl-dialog__content">Select Time Series:
          <div id="heatmap-selection"></div>
        </div>
      </div>
    </div>
    <div class="mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    </div>
  </main>
</div>


<script src="js/heatmap.js"></script>

</body>
