<!DOCTYPE html>
<head>
    <% include ./partials/head %>
</head>
<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <% include ./partials/nav %>
    <main class="mdl-layout__content">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--4-col-tablet mdl-card mdl-shadow--3dp">
            <div class="mdl-card__title">Path SVG</div>
            <div class="mdl-card__supporting-text">
              <span class="mdl-typography--font-light mdl-typography--subhead">Click on any of the numbers in the code to change them</span>
            </div>
            <div id="path">
              <div class="editor"></div>
            </div>
          </div>
          <div class="mdl-cell  mdl-cell--4-col-tablet mdl-card mdl-shadow--3dp">
            <div class="mdl-card__supporting-text" id="drawspace">
              <svg width="400" height="400">
                <path d="
                M10,100
                L131,66
                L259,115
                L200,50"
                fill=none
                stroke=#25B0B0
                stroke-width=7></path>
                </svg>
                <script>
                (function() {
                  var options = {
                    mode: 'text/html',
                    lineNumbers: true,
                    viewportMargin: Infinity
                  };
                  var editor = d3.select("#path").select(".editor");
                  var svg = d3.select("#drawspace svg");
                  var sticker = d3.sticker(svg.select("path").node());
                  var cm = CodeMirror(editor.node(), options);
                  Inlet(cm);
                  var text = "<path d='\n  M10,100\n  L131,66\n  L259,115\n  L200,50'\n  fill='none'\n  stroke='#25B0B0'\n  stroke-width='7'\n></path>"
                  cm.setValue(text);
                  cm.on("change", function() {
                    var value = cm.getValue();
                    sticker.string(value);
                    sticker.deserialize();
                    svg.selectAll("*").remove()
                    sticker(svg)
                  })
                }())
                </script>
            </div>
          </div>
        </div>
    </main>
  </div>
</body>
