<div id="footer" class="container-fluid">
    <div class="navbar navbar-inverse navbar-fixed-bottom">
    </div>
</div>
</div>
<!-- inject:js -->
<script src="/js/site.js"></script>
<script src="/js/surface3d.js"></script>
<script src="/js/tree.js"></script>
<!-- endinject -->