<title>D3</title>
<meta charset="utf-8" />
<link href='http://fonts.googleapis.com/css?family=Lato:400,700|Ubuntu' rel='stylesheet' type='text/css'>

<!--bower:css -->
<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/lib/codemirror/lib/codemirror.css" />
<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
<!--endbower -->
<!-- inject:css -->
<link rel="stylesheet" href="/css/inlet.css">
<link rel="stylesheet" href="/css/site.css">
<!-- endinject -->
<!-- bower:js -->
<script src="/lib/d3/d3.js"></script>
<script src="/lib/dimple/dist/dimple.v2.1.6.min.js"></script>
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/lib/codemirror/lib/codemirror.js"></script>
<script src="/lib/colorbrewer/colorbrewer.js"></script>
<!-- endbower -->


<script src="/lib/sticker.js"></script>
<script src="/lib/inlet.min.js"></script>