<nav class="navbar navbar-inverse">
    <div id='test' class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
            <li>
                <button id="sidebarToggle" class="btn btn-primary">
                    <i class="fa fa-angle-left"></i>
                </button>
            </li>
        </ul>
    </div>
</nav>
