<div id="sidebar">
    <div id="navlinks">
        <% for(var i = 0; i < nav.length; i++) {%>
        <div>
            <a class="navlink" href="<%=nav[i].url%>"><%=nav[i].text%></a>
        </div>
        <%}%>
    </div>
</div>