body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.data-drawer {
  border: none;
  background-color: #000;
}

.data-drawer .data-navigation .mdl-navigation__link:hover {
  background-color: #ffffff;
  color: #37474F;
  text-decoration: none;
}
.data-drawer .data-navigation .mdl-navigation__link {
  color: #ffffff;
  text-decoration: none;
}

.data-content {
  width: 650px;
  max-width: 1080px;
}

#timeSeries {
  margin-left: 5px;
}
.time-series-path {
  fill: rgb(63,81,181);
}
/*area for first scrolling time series*/
.area {
  fill: rgb(63,81,181);
  clip-path: url(#clip);
}

.brush .extent {
  stroke: #000099;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;}

/*Time Series Axis*/
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-width: 1;
}

/*Heat map axis*/
.dayAxis path, .dayAxis line {
  fill: none;
  shape-rendering: crispEdges;
  stroke: #000;
}

.dayAxis.hours text {
  fill: #333;
  font-size: 0.9rem;
  font-family: "FontAwesome";
}
.dayAxis.days text {
  fill: #333;
  font-size: 0.9rem;
  text-transform: uppercase;
}
.dayAxis.days path, .dayAxis.days line {
  stroke: #333;
}

.dayAxis .nighttime {
  fill: #20638f;
  fill-opacity: 0.45;
}
.dayAxis .daytime {
  fill: #ffff00;
  fill-opacity: 0.95;
}

